@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.snap-scroll-container::-webkit-scrollbar {
  width: 8px;
}

.snap-scroll-container::-webkit-scrollbar-track {
  background: #000000;
}

.snap-scroll-container::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 20px;
}

.snap-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/*scroll on 'X'*/
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
